@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800;900&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'jost';

}

a {
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}


.testimony_image{
   height:100px;
   width: 100px;
   border-radius: 50%;
   margin-left: 100px;
  
}

.logo2_image{
  height: 53px;

}

.form_class{
  font-size: 18px;
  font-weight: 600;
  opacity: 60%;
  height:30px;
  width:auto;
  border: none;
  padding-top: 10px;
  
}

.form_class:focus{
  outline: none;
}

.social{
  height: 50px;
  justify-content: right;
  padding: 5px 5px;

}

.line__design__class{
  margin-right: 7px;
  margin-left: 7px;
  border-color: rgba(0,0,0,0.25);
  margin-top: 10px;
}



